<form autocomplete="off" class="actor--pc">
	{{> dotdungeon.pc.profile }}


	{{#> dotdungeon.panel class="stats" title="dotdungeon.actor.pc.panel.statistics"}}
		{{#each system.stats }}
			{{> dotdungeon.stat system=../system name=@key value=this}}
		{{/each}}
	{{/ dotdungeon.panel}}


	{{#> dotdungeon.panel class="skills" title="dotdungeon.actor.pc.panel.skills"}}
		{{#each system.skills as |skills|}}
			<div class="skill-group">
				<h3 class="skill-group__label">{{localize (concat "dotdungeon.actor.pc.stat." @key)}}</h3>
				{{#each skills as |skill|}}
					{{> dotdungeon.skill system=../../system stat=@../key name=@key value=skill}}
				{{/each}}
			</div>
		{{/each}}
	{{/ dotdungeon.panel}}


	{{> dotdungeon.pc.backpack }}

	{{> dotdungeon.pc.sync }}

	{{> dotdungeon.pc.aspect }}

	{{> dotdungeon.pc.weapons }}

	{{> dotdungeon.pc.spells }}

	{{> dotdungeon.pc.roles}}

	{{> dotdungeon.pc.mounts}}

	{{> dotdungeon.pc.summons }}

	{{> dotdungeon.pc.storage}}

	{{#if settings.devMode}}
		<div class="debug-data" style="grid-column: 1 / span 3">
			<div>
				Settings:
				<pre><code>{{dd-stringify settings}}</code></pre>
			</div>
			<div>
				Meta:
				<pre><code>{{dd-stringify meta}}</code></pre>
			</div>
			<hr>
			<div>
				Config:
				<pre><code>{{dd-stringify CONFIG}}</code></pre>
			</div>
			<hr>
			<div>
				System:
				<pre><code>{{dd-stringify system}}</code></pre>
			</div>
			<hr>
			<div>
				Actor:
				<pre><code>{{dd-stringify actor}}</code></pre>
			</div>
		</div>
	{{/if}}
</form>