<form autocomplete="off">
	<h2>{{localize "stat.title"}}</h2>
	{{> dotdungeon.stat stat="build" }}
	{{> dotdungeon.stat stat="meta" }}
	{{> dotdungeon.stat stat="presence" }}
	{{> dotdungeon.stat stat="hands" }}
	{{> dotdungeon.stat stat="tilt" }}
	{{> dotdungeon.stat stat="rng" }}
	<br>

	<h2>{{localize "skills.header"}}</h2>
	<h3>{{localize "skills.build"}}</h3>
	{{> dotdungeon.skill name="defense" }}
	{{> dotdungeon.skill name="magic" }}
	{{> dotdungeon.skill name="melee" }}
	{{> dotdungeon.skill name="platforming" }}
	{{> dotdungeon.skill name="strength" }}
	<h3>{{localize "skills.meta"}}</h3>
	{{> dotdungeon.skill name="alchemy" }}
	{{> dotdungeon.skill name="arcanum" }}
	{{> dotdungeon.skill name="dreams" }}
	{{> dotdungeon.skill name="lore" }}
	{{> dotdungeon.skill name="navigation" }}
	<h3>{{localize "skills.presence"}}</h3>
	{{> dotdungeon.skill name="animal_handling" }}
	{{> dotdungeon.skill name="perception" }}
	{{> dotdungeon.skill name="sneak" }}
	{{> dotdungeon.skill name="speech" }}
	{{> dotdungeon.skill name="vibes" }}
	<h3>{{localize "skills.hands"}}</h3>
	{{> dotdungeon.skill name="accuracy" }}
	{{> dotdungeon.skill name="crafting" }}
	{{> dotdungeon.skill name="engineering" }}
	{{> dotdungeon.skill name="explosives" }}
	{{> dotdungeon.skill name="piloting" }}
</form>