{{#> dotdungeon.panel class="aspect" title="dotdungeon.actor.pc.panel.aspect"}}
	{{#each items.aspect as | aspect |}}
		<div class="aspect">
			<h3 class="aspect__name">{{aspect.name}}</h3>
			{{#if (defined aspect.system.deactivateAfter)}}
				<p class="aspect__duration">
					{{localize "dotdungeon.actor.pc.aspect.duration" duration=(dd-toFriendlyDuration aspect.system.deactivateAfter)}}
				</p>
			{{/if}}
			{{#if aspect.system.info}}
				<div class="aspect__description">
					<p>
						{{aspect.system.info}}
					</p>
				</div>
			{{/if}}
			<div class="aspect__used">
				<input
					id="{{aspect.uuid}}-used"
					type="checkbox"
					class="aspect__used--input"
					{{checked aspect.system.used}}
				>
				<label
					class="aspect__used--label"
					for="{{aspect.uuid}}-used"
				>
					{{localize "dotdungeon.actor.pc.aspect.used"}}
				</label>
			</div>
			<div class="actions">
				<button
					class="confirm"
					data-embedded-edit="{{aspect.uuid}}"
				>
					Edit
				</button>
			</div>
		</div>
	{{else}}
		<p>
			{{localize "dotdungeon.actor.pc.aspect.empty"}}
		</p>
	{{/each}}
	{{#if (or computed.canAddAspect (not (dd-empty items.aspect)))}}
		<button
			class="confirm"
		>
			{{localize "dotdungeon.actor.pc.aspect.add"}}
		</button>
	{{/if}}
{{/ dotdungeon.panel}}