{{#> dotdungeon.panel class="weapons" title="dotdungeon.actor.pc.panel.weapons"}}
	<details class="mainHand" {{dd-expanded meta.expanded "weapons.mainHand"}}>
		<summary data-collapse-id="weapons.mainHand">
			{{localize "dotdungeon.actor.pc.weapon.mainHand"}}
		</summary>
		<div class="weapon">


			<div class="weapon__name">
				<label for="{{meta.idp}}-mainHand-name-input">
					{{localize "dotdungeon.actor.pc.weapon.name"}}
				</label>
				<input
					type="text"
					id="{{meta.idp}}-mainHand-name-input"
					name="system.weapon.mainHand.name"
					value="{{system.weapon.mainHand.name}}"
				>
			</div>


			<div class="weapon__group">
				<label class="weapon__damage-type">
					{{localize "dotdungeon.actor.pc.weapon.damage-type.label"}}
					<select name="system.weapon.mainHand.damage">
						{{#select system.weapon.mainHand.damage}}
							<option value="">Select...</option>
							{{#each (dd-array "slashing" "piercing" "smashing" "gun" "neon" "shadow" "solar")}}
								<option value="{{this}}">
									{{localize (concat "dotdungeon.actor.pc.weapon.damage-type." this)}}
								</option>
							{{/each}}
						{{/select}}
					</select>
				</label>

				<label class="weapon__is-ranged">
					{{localize "dotdungeon.actor.pc.weapon.is-ranged"}}
					<input
						type="checkbox"
						name="system.weapon.mainHand.ranged"
						{{checked system.weapon.mainHand.ranged}}
					>
				</label>
			</div>

			{{#if system.weapon.mainHand.ranged}}
				<div class="weapon__group">
					<label class="weapon__ammo-type">
						{{localize "dotdungeon.actor.pc.weapon.ammo-type.label"}}
						<select name="system.weapon.mainHand.ammo">
							{{#select system.weapon.mainHand.ammo}}
								<option value="">{{localize "dotdungeon.actor.pc.weapon.ammo-type.ammoless"}}</option>
								<option value="quivers">{{localize "dotdungeon.actor.pc.weapon.ammo-type.quiver"}}</option>
								<option value="mags">{{localize "dotdungeon.actor.pc.weapon.ammo-type.mag"}}</option>
								<option value="cells">{{localize "dotdungeon.actor.pc.weapon.ammo-type.cell"}}</option>
							{{/select}}
						</select>
					</label>

					<label class="weapon__is-scoped">
						{{localize "dotdungeon.actor.pc.weapon.is-scoped"}}
						<input
							type="checkbox"
							name="system.weapon.mainHand.scope"
							{{checked system.weapon.mainHand.scope}}
						>
					</label>
				</div>
			{{/if}}
		</div>
	</details>
	<details {{dd-expanded meta.expanded "weapons.offHand"}}>
		<summary data-collapse-id="weapons.offHand">
			{{localize "dotdungeon.actor.pc.weapon.offHand"}}
		</summary>

		<div class="weapon">
			<div class="weapon__name">
				<label for="{{meta.idp}}-offHand-name-input">
					{{localize "dotdungeon.actor.pc.weapon.name"}}
				</label>
				<input
					type="text"
					id="{{meta.idp}}-offHand-name-input"
					name="system.weapon.offHand.name"
					value="{{system.weapon.offHand.name}}"
				>
			</div>


			<div class="weapon__group">
				<label class="weapon__damage-type">
					{{localize "dotdungeon.actor.pc.weapon.damage-type.label"}}
					<select name="system.weapon.offHand.damage">
						{{#select system.weapon.offHand.damage}}
							<option value="">Select...</option>
							{{#each (dd-array "slashing" "piercing" "smashing" "gun" "neon" "shadow" "solar")}}
								<option value="{{this}}">
									{{localize (concat "dotdungeon.actor.pc.weapon.damage-type." this)}}
								</option>
							{{/each}}
						{{/select}}
					</select>
				</label>
				<label class="weapon__is-ranged">
					{{localize "dotdungeon.actor.pc.weapon.is-ranged"}}
					<input
						type="checkbox"
						name="system.weapon.offHand.ranged"
						{{checked system.weapon.offHand.ranged}}
					>
				</label>
			</div>

			{{#if system.weapon.offHand.ranged}}
				<div class="weapon__group">
					<label class="weapon__ammo-type">
						{{localize "dotdungeon.actor.pc.weapon.ammo-type.label"}}
						<select name="system.weapon.offHand.ammo">
							{{#select system.weapon.offHand.ammo}}
								<option value="">{{localize "dotdungeon.actor.pc.weapon.ammo-type.ammoless"}}</option>
								<option value="quivers">{{localize "dotdungeon.actor.pc.weapon.ammo-type.quiver"}}</option>
								<option value="mags">{{localize "dotdungeon.actor.pc.weapon.ammo-type.mag"}}</option>
								<option value="cells">{{localize "dotdungeon.actor.pc.weapon.ammo-type.cell"}}</option>
							{{/select}}
						</select>
					</label>

					<label class="weapon__is-scoped">
						{{localize "dotdungeon.actor.pc.weapon.is-scoped"}}
						<input
							type="checkbox"
							name="system.weapon.offHand.scope"
							{{checked system.weapon.offHand.scope}}
						>
					</label>
				</div>
			{{/if}}
		</div>



	</details>
{{/ dotdungeon.panel}}