<div class="e-1dp scrollable panel item-list">
	{{#if computed.noItemTypesVisible}}
		<p>
			Enable a filter to show items of that type!
		</p>
	{{/if}}
	{{#each computed.itemFilters as | filter |}}
		{{#if filter.active}}
			<section class="item-list__group">
				<div class="item-group__header">
					<h2>{{filter.label}}</h2>
					<button
						type="button"
						class="icon"
						data-embedded-create="{{@key}}"
						aria-label="{{filter.createLabel}}"
						data-tooltip="{{filter.createLabel}}"
						data-tooltip-direction="LEFT"
					>
						<div aria-hidden="true" class="icon icon--16">
							{{{ @root.icons.create }}}
						</div>
					</button>
				</div>
				<hr>
				<div class="item-group__list--{{@key}}">
					{{#each (lookup @root.items @key) as | item |}}
						{{> (concat "dotdungeon.pc.v2." @../key) @root item=item}}
					{{else}}
						No items found
					{{/each}}
				</div>
			</section>
		{{/if}}
	{{/each}}
</div>
