<form autocomplete="off" class="actor--mob">
	<h2><input type="text" name="name" value="{{actor.name}}"></h2>
	<table>
		<tr>
			<td><label for="{{meta.idp}}-dice">Dice</label></td>
			<td>
				<input
					type="text"
					id="{{meta.idp}}-dice"
					name="system.dice"
					value="{{system.dice}}"
				>
			</td>
		</tr>
		<tr>
			<td><label for="{{meta.idp}}-bonus">Bonus</label></td>
			<td>
				<input
					type="number"
					id="{{meta.idp}}-bonus"
					name="system.bonus"
					value="{{system.bonus}}"
				>
			</td>
		</tr>
		<tr>
			<td><label for="{{meta.idp}}-initiative">Initiative</label></td>
			<td>
				<input
					type="number"
					id="{{meta.idp}}-initiative"
					name="system.initiative"
					value="{{system.initiative}}"
				>
			</td>
		</tr>
		<tr>
			<td><label for="{{meta.idp}}-bytes">Bytes</label></td>
			<td>
				<input
					type="number"
					id="{{meta.idp}}-bytes"
					name="system.bytes"
					value="{{system.bytes}}"
				>
			</td>
		</tr>
		<tr>
			<td><label for="{{meta.idp}}-morale">Morale</label></td>
			<td>
				<input
					type="number"
					id="{{meta.idp}}-morale"
					name="system.morale"
					value="{{system.morale}}"
				>
			</td>
		</tr>
		<tr>
			<td><label for="{{meta.idp}}-drops">Drops</label></td>
			<td>
				<input
					type="text"
					id="{{meta.idp}}-drops"
					name="system.drops"
					value="{{system.drops}}"
				>
			</td>
		</tr>
	</table>
	<label for="{{meta.idp}}-stunts">Stunts</label>
	<textarea
		type="text"
		id="{{meta.idp}}-stunts"
		name="system.stunts"
	>{{system.stunts}}</textarea>
</form>