<form autocomplete="off" class="actor--mob">
	<div class="avatar"></div>
	<input
		type="text"
		class="name wide masked"
		name="name"
		value="{{actor.name}}"
	>
	<label class="initiative mask-input">
		Initiative:
		<input
			type="number"
			name="system.initiative"
			value="{{system.initiative}}"
		>
	</label>
	<label class="bytes mask-input">
		Bytes:
		<input
			type="number"
			name="system.bytes"
			value="{{system.bytes}}"
		>
	</label>
	<div class="dice">
		Dice:
		<button data-roll-formula="2d20" class="roll die reduced-padding neutral">
			2d20x5
		</button>
		<button data-roll-formula="1d4" class="roll die reduced-padding neutral">
			1d4
		</button>
		<button data-roll-formula="3d6" class="roll die reduced-padding neutral">
			3d6
		</button>
		<div style="flex-grow: 1"></div>
		<button class="confirm">Edit</button>
	</div>
	<label class="bonus mask-input">
		Bonus:
		<input
			type="number"
			name="system.bonus"
			value="{{system.bonus}}"
		>
	</label>
	<label class="morale mask-input">
		Morale:
		<input
			type="number"
			name="system.morale"
			value="{{system.morale}}"
		>
	</label>
	<label class="immune wide mask-input">
		Immune:
		<input
			type="text"
			class="left"
			name="system.immune"
			value="{{system.immune}}"
		>
	</label>
	<label class="weak wide mask-input">
		Weak:
		<input
			type="text"
			class="left"
			name="system.weak"
			value="{{system.weak}}"
		>
	</label>
	<label class="stunts">
		Stunts:
		<textarea
			name="system.stunts"
		>{{system.stunts}}</textarea>
	</label>
</form>