<form class="dialog--dice-list">
	<div class="dice">
		{{#each dice as | die |}}
			<div class="die">
				<input
					type="number"
					id="Die.{{die.id}}-count"
					class="count"
					name="{{die.id}}.count"
					value="{{die.count}}"
					data-die-update="{{die.id}}.count"
					aria-label="The number of dice to roll at the same time"
				>
				<span class="large" aria-hidden="true">d</span>
				<input
					type="number"
					id="Die.{{die.id}}-sides"
					class="sides"
					name="{{die.id}}.sides"
					value="{{die.sides}}"
					data-die-update="{{die.id}}.sides"
					aria-label="The number of sides that are on the dice"
				>
				<span class="large" aria-hidden="true">x</span>
				<input
					type="number"
					id="Die.{{die.id}}-repeat"
					class="repeat"
					name="{{die.id}}.repeat"
					value="{{die.repeat}}"
					data-die-update="{{die.id}}.repeat"
					aria-label="The number of times to repeat this dice "
				>
				<button
					type="button"
					class="danger"
					data-id="{{die.id}}"
					data-action="deleteDie"
					aria-label=""
				>
					<div aria-hidden="true" class="icon icon--26">
						{{{ ../icons.garbage-bin }}}
					</div>
				</button>
			</div>
		{{/each}}
	</div>
	<div class="actions">
		<button
			type="button"
			class="neutral"
			data-action="addDie"
		>
			Add Die
		</button>
	</div>
	<div class="actions">
		<button
			class="confirm"
		>
			Save and Close
		</button>
		<button
			type="button"
			class="danger"
			data-action="closeNoSave"
		>
			Close
		</button>
	</div>
</form>