<div class="tab" data-group="page" data-tab="details">
	<div class="number panel">
		{{#if meta.isEditable}}
			<label
				for="{{meta.idp}}-purchase-cost"
				class="justify-start"
			>
				Purchase Cost
			</label>
			<input
				type="number"
				name="system.buy"
				value="{{system.buy}}"
				min="0"
				id="{{meta.idp}}-purchase-cost"
			>
		{{else}}
			Purchase Cost
			{{dd-empty-state system.buy}}
		{{/if}}
	</div>
	<div class="number panel">
		{{#if meta.isEditable}}
			<label
				for="{{meta.idp}}-usage-cost"
				class="justify-start"
			>
				Usage Cost
			</label>
			<input
				type="number"
				name="system.usage_cost"
				value="{{system.usage_cost}}"
				min="0"
				id="{{meta.idp}}-usage-cost"
			>
		{{else}}
			Usage Cost
			{{dd-empty-state system.usage_cost}}
		{{/if}}
	</div>
	<div class="detail panel--row space-between">
		Rarity
		{{#if meta.isEditable}}
			<select
				class="text-center"
				name="system.tier"
				id="{{meta.idp}}-item-tier"
			>
				{{{ dd-options system.tier config.itemTiers localize=true }}}
			</select>
		{{else}}
			{{dd-i18n (concat "dotdungeon.rarity." system.tier)}}
		{{/if}}
	</div>
	{{#if meta.isEmbedded}}
		<div class="detail panel--row space-between">
			Item Location
			{{#if meta.isEditable}}
				<select
					class="text-center"
					name="system.location"
					id="{{meta.idp}}-location"
				>
					{{{ dd-options system.location item.availableLocations localize=true }}}
				</select>
			{{else}}
				{{dd-i18n (concat "dotdungeon.location." system.location)}}
			{{/if}}
		</div>
		<div class="number panel">
			{{#if meta.isEditable}}
				<label for="{{meta.idp}}-quantity">
					Quantity
				</label>
				<input
					type="number"
					min="0"
					name="system.quantity"
					value="{{system.quantity}}"
					id="{{meta.idp}}-quantity"
				>
			{{else}}
				Quantity
				{{system.quantity}}
			{{/if}}
		</div>
	{{/if}}
</div>
