<div class="tab" data-group="page" data-tab="settings">
	{{#if meta.isEmbedded}}
		<div class="combat-relevant panel">
			Useful in Combat?
		</div>
	{{/if}}
	{{#if isGM}}
		<div class="capacity--usage panel">
			<label
				for="{{meta.idp}}-{{item.uuid}}-uses-inventory-slot"
			>
				Uses Capacity?
				<br>
				(GM Only)
			</label>
			<div class="grow"></div>
			<input
				type="checkbox"
				id="{{meta.idp}}-{{item.uuid}}-uses-inventory-slot"
				name="system.uses_inventory_slot"
				{{checked system.uses_inventory_slot}}
			>
		</div>
		<div class="capacity--quantity panel">
			<label for="{{meta.idp}}-{{item.uuid}}-quantity-adds-capacity">
				Quantity Affects Capacity?
				<br>
				(GM Only)
			</label>
			<div class="grow"></div>
			<input
				type="checkbox"
				id="{{meta.idp}}-{{item.uuid}}-quantity-adds-capacity"
				name="system.quantity_affects_used_capacity"
				{{checked system.quantity_affects_used_capacity}}
			>
		</div>
	{{/if}}
	<div class="capacity--calculated panel">
		<span>Capacity Used:</span>
		<dd-icon
			name="ui/help"
			var:fill="red"
			var:size="1.25rem"
			data-help-id="calculated-capacity"
			data-help-content="dotdungeon.help-tooltips.calculated-capacity.content"
			data-help-title="dotdungeon.help-tooltips.calculated-capacity.title"
		></dd-icon>
		<div class="grow"></div>
		<span>5</span>
	</div>
</div>
