<form autocomplete="off" class="item--aspect">
	<h2>
		<input
			type="text"
			placeholder="{{localize "dotdungeon.item.aspect.name"}}"
			name="name"
			value="{{item.name}}"
		>
	</h2>
	<label>
		{{localize "dotdungeon.item.aspect.duration"}}
		<input
			type="number"
			class="duration"
			name="system.deactivateAfter"
			value="{{system.deactivateAfter}}"
		>
	</label>
	<label>
		{{localize "dotdungeon.item.aspect.description"}}:
		<textarea
			name="system.info"
			aria-description="{{localize "dotdungeon.aria.aspect-description"}}"
		>{{system.info}}</textarea>
	</label>
</form>