<form autocomplete="off" class="item--spell">
	<h2>
		<input
			type="text"
			placeholder="{{localize "dotdungeon.item.spell.name.placeholder"}}"
			name="name"
			value="{{item.name}}"
			aria-label="{{localize "dotdungeon.item.spell.aria.name"}}"
		>
	</h2>
	<label>
		{{localize "dotdungeon.item.spell.cost.label"}}
		<input
			type="number"
			name="system.cost"
			value="{{system.cost}}"
			aria-label="{{localize "dotdungeon.item.spell.aria.cost"}}"
		>
	</label>
	<label>
		{{localize "dotdungeon.item.spell.description.label"}}:
		<textarea
			name="system.description"
			aria-description="{{localize "dotdungeon.item.spell.aria.description"}}"
		>{{system.description}}</textarea>
	</label>
	<label for="{{meta.idp}}-skill">
		{{localize "dotdungeon.item.spell.skill.label"}}
	</label>
	<select name="system.skill" id="{{meta.idp}}-skill">
		{{#select system.skill}}
			<option value="">{{localize "dotdungeon.item.spell.options.no-skill"}}</option>
			{{#each config.allSkills as | skill |}}
				<option value="{{skill}}">{{localize (concat "dotdungeon.keyword.skill." skill)}}</option>
			{{/each}}
		{{/select}}
	</select>
</form>