<section
	class="aspect collapse"
	{{dd-expanded meta.expanded item.uuid}}
>
	<div
		class="collapse__header"
		data-collapse-id="{{item.uuid}}"
	>
		<button
			type="button"
			class="collapse__toggle equal-padding reduced-padding"
			data-collapse-id="{{item.uuid}}"
			tabindex="0"
			aria-label="{{dd-i18n 'dotdungeon.sheet.actor.v2.toggle-item-information' item}}"
		>
			<div aria-hidden="true" class="icon icon--12">
				{{{ icons.caret-right }}}
			</div>
		</button>
		<h3 class="aspect__name">
			{{item.name}}
		</h3>
	</div>
	<div class="collapse__content">
		<hr>
		<div class="aspect__content">
			<div class="aspect__field editable">
				<label for="{{meta.idp}}-{{item.uuid}}-used">
					Used
				</label>
				<input
					type="checkbox"
					{{checked item.system.used}}
					id="{{meta.idp}}-{{item.uuid}}-used"
					data-embedded-id="{{item.uuid}}"
					data-embedded-update="system.used"
					data-embedded-update-on="change"
				>
			</div>
			<div class="aspect__field">
				<span>Duration:</span>
				<span>
					{{dd-empty-state item.friendlyDuration}}
				</span>
			</div>
			<div class="aspect__field">
				<span>Tier:</span>
				<span>{{dd-i18n (concat "dotdungeon.rarity." item.system.tier)}}</span>
			</div>
			<button
				type="button"
				aria-label="{{dd-i18n 'dotdungeon.common.send-to-chat'}}"
				data-tooltip="{{dd-i18n 'dotdungeon.common.send-to-chat'}}"
				data-tooltip-direction="RIGHT"
				class="aspect__button--send-to-chat"
			>
				<div aria-hidden="true" class="icon icon--20">
					{{{ icons.chat-bubble }}}
				</div>
			</button>
			<p class="aspect__description">
				{{#if item.system.description}}
					{{item.system.description}}
				{{else}}
					<span class="placeholder">
						This item hasn't been described yet...
					</span>
				{{/if}}
			</p>
			<button
				type="button"
				aria-label="{{dd-i18n 'dotdungeon.common.edit'}}"
				data-tooltip="{{dd-i18n 'dotdungeon.common.edit'}}"
				data-tooltip-direction="RIGHT"
				class="aspect__button--edit"
				data-embedded-edit="{{item.uuid}}"
			>
				<div aria-hidden="true" class="icon icon--20">
					{{{ icons.edit }}}
				</div>
			</button>
			<button
				type="button"
				aria-label="{{dd-i18n 'dotdungeon.common.delete'}}"
				data-tooltip="{{dd-i18n 'dotdungeon.common.delete'}}"
				data-tooltip-direction="RIGHT"
				class="aspect__button--delete"
				data-embedded-delete
				data-embedded-id="{{item.uuid}}"
			>
				<div aria-hidden="true" class="icon icon--20">
					{{{ icons.garbage-bin }}}
				</div>
			</button>
		</div>
	</div>
</section>
