<div class="material" data-embedded-id="{{item.uuid}}">
	<label
		for="{{meta.idp}}-{{item.uuid}}-quantity-input"
		class="material__label"
		data-tooltip="{{item.name}}"
		data-tooltip-direction="UP"
	>
		{{item.name}}
	</label>
	<dd-incrementer
		class="material__quantity"
		value="{{item.system.quantity}}"
		data-embedded-update="system.quantity"
		data-embedded-update-on="change"
		data-embedded-id="{{item.uuid}}"
	></dd-incrementer>
</div>
