<section class="untyped">
	<div
		class="untyped__header"
		data-collapse-id="{{item.uuid}}"
	>
		<button
			type="button"
			class="equal-padding reduced-padding"
			data-collapse-id="{{item.uuid}}"
			aria-label="Toggle the extra information's visibility"
		>
			<div aria-hidden="true" class="icon icon--12">
				{{#if (dd-set-has meta.expanded item.uuid)}}
					{{{ icons.caret-down }}}
				{{else}}
					{{{ icons.caret-right }}}
				{{/if}}
			</div>
		</button>
		<h3 class="untyped__name">
			{{item.name}}
		</h3>
		<div class="untyped__quantity--display">
			(x {{item.system.quantity}})
		</div>
	</div>
	{{#if (dd-set-has meta.expanded item.uuid)}}
		<hr>
		<div class="untyped__content">
			<div class="untyped__quantity--edit">
				<label for="">
					Quantity
				</label>
				<input
					type="number"
					value="{{item.system.quantity}}"
				>
			</div>
			<div class="untyped__usage">Usage Cost</div>
			<div class="untyped__tier">Tier</div>
			<button type="button">C</button>
			<p class="untyped__description">Description</p>
			<button type="button">E</button>
			<button type="button">D</button>
		</div>
	{{/if}}
</section>
