<div class="skill">
	<button
		class="skill__label skill__button roll"
		aria-label="{{localize "dotdungeon.aria.actor.pc.skill.button.roll" skill=name}}"
		data-roll-formula="1{{dd-objectValue system (concat "stats." stat)}} {{dd-objectValue system.skills (concat stat "." name)}}"
		data-roll-label="dotdungeon.rolls.skills.{{name}}"
		{{disabled
			(or
				(eq
					(dd-objectValue system (concat "stats." stat))
					""
				)
				(eq
					(dd-objectValue
						system
						(concat "skills." stat "." name)
					)
					"locked"
				)
			)
		}}
	>
		{{localize (concat "dotdungeon.actor.pc.skill." name)}}
		{{#with (dd-objectValue system (concat "stats." stat)) as | die |}}
			{{#if die}}
				({{die}})
			{{/if}}
		{{/with}}
	</button>
	<select
		name="{{concat "system.skills." stat "." name}}"
		class="skill__select"
		aria-label="{{localize "dotdungeon.aria.actor.pc.skill.dropdown" skill=name}}"
	>
		{{#select (dd-objectValue system (concat "skills." stat "." name))}}
			<option value="">Novice (+0)</option>
			<option value="+2">Trained (+2)</option>
			<option value="+4">Expert (+4)</option>
			<option value="locked">Locked</option>
		{{/select}}
	</select>
	<!--
	<button class="skill__button" data-stat="{{stat}}" data-skill="{{name}}">
		{{!--
		This would be nice to get working at some point, but it's not something
		that is MVP

		<img src="icons/dice/{{dd-objectValue system (concat "system.skills." stat "." name)}}black.svg">
		--}}
		Roll
	</button>
	-->
</div>