<label class="stat stat--{{name}}">
	<button
		class="roll"
		data-stat="{{name}}"
		data-roll-formula="1{{value}}"
		data-roll-label="dotdungeon.rolls.stats.{{name}}"
		{{disabled (dd-negate (dd-objectValue system (concat "stats." name)))}}
	>
		{{localize (concat "dotdungeon.actor.pc.stat." name)}}
	</button>
	{{> dotdungeon.dice_choice fieldToUpdate=(concat "system.stats." name) selected=value }}
</label>