<div class="tab stats-panel" data-group="page" data-tab="stats">
	{{#each computed.stats as | stat |}}
		<div class="e-1dp stat">
			<div class="stat__header">
				<h2>{{stat.name}}</h2>
				<select
					name="system.stats.{{stat.key}}"
					class="e-2dp dice-select"
				>
					{{{dd-options stat.value stat.dieOptions}}}
				</select>
				<button
					type="button"
					class="e-2dp roll-stat"
				>
					Roll
				</button>
			</div>
			{{#if stat.skills}}
				<div class="stat__skills skill">
					{{#each stat.skills as | skill |}}
						<label
							for="{{meta.idp}}-{{skill.key}}-training"
							class="skill__label"
						>
							{{skill.name}}
						</label>
						<select
							name="system.skills.{{stat.key}}.{{skill.key}}"
							id="{{meta.idp}}-{{skill.key}}-training"
							class="e-2dp skill__training"
						>
							{{{dd-options
								skill.value
								@root.config.trainingLevels
								localize=true
							}}}
						</select>
						<button
							type="button"
							class="e-2dp skill__roll"
							{{disabled skill.rollDisabled}}
						>
							{{#if skill.rollDisabled}}
								Locked
							{{else}}
								{{skill.formula}}
							{{/if}}
						</button>
					{{/each}}
				</div>
			{{/if}}
		</div>
	{{/each}}
</div>